body{
    background-color: #87d1f3;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 200px;
    border-radius: 4px;
    border: 2px solid #4044F5;
    margin-top: 5px;
    margin-left: 10px;
}

.nav{
    display: flex;
    gap: 200px;
}

.navLink, .logout{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 80px;
    text-decoration: none;
    color: #2d78c4;
    border-radius: 15px;
    border: 2px solid #4044F5;
    cursor: pointer;
    padding: 10px;
}

.Username{
    color: #2d78c4;
    border-radius: 5px;
    border: 2px solid #4044F5;
    padding: 10px;
}

.form, .contact-list{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    border: 3px solid #4044F5;
    padding: 5px;
}

.second-wrap{
    display: flex;
    flex-direction: column;
}

.label{
    color: #2d78c4;
}

.submit-auth, .submit, .delete{
    margin-top: 10px;
    border-radius: 5px;
    color: #2d78c4;
    border: 1px solid #4e90d3;
    background-color: #79b7f5;
}

.submit-auth{
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.submit{
    width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.delete{
    width: 65px;
    margin-left: 15px;
}

.active{
    background-color: #64b2ff;
}

.logout{
    margin-top: 0;
    font-weight: bold;
    background-color: #87d1f3;
}

.filter-text{
    color: #2d78c4;
}

.contact-list{
    text-decoration: none;
}

.contact-list-item{
    list-style-type: none;
}

.contact-list-item-text{
    color: #2d78c4;
}
